@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
* {
  box-sizing: border-box;
  font-family: Orbitron, sans-serif;
  letter-spacing: 1px; }

.titles {
  border-bottom: 2px solid #212529; }
  .titles h1 {
    margin: 1px 0px 1px 0px; }

header {
  background-color: #212529;
  color: white; }

.logos {
  display: flex;
  justify-content: center;
  align-items: center; }

.logoheader {
  width: 50px; }

.logotextheader {
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  margin: 0px 0px 0px 5px; }

.cart-logo {
  width: 30px;
  height: 30px;
  margin-right: 3px; }

section {
  font-family: Orbitron, sans-serif;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

article {
  background: none;
  position: relative;
  margin: 0.5rem;
  height: 370px;
  width: 250px;
  text-align: center;
  justify-content: center;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  transition: border 0.25s; }
  article:hover {
    border-color: #4701c0; }
  article .card__imgcontainer_prod {
    justify-content: center;
    width: auto;
    height: 200px;
    margin: 10px 3px 3px 3px;
    overflow: hidden; }
    article .card__imgcontainer_prod .card__img__prod {
      height: 200px;
      padding: 10px;
      width: auto;
      border-radius: 10px; }
  article .card__text {
    background-color: #000000;
    margin: 0px;
    height: 144px; }
    article .card__text .card__text__prod {
      background: none;
      text-align: center;
      justify-content: center;
      margin: 10px 5px 5px 5px;
      width: auto;
      height: 70px;
      color: white; }
    article .card__text .card__price__prod {
      color: white;
      background: none;
      text-align: left;
      position: absolute;
      font-size: 1.2rem;
      bottom: 20px;
      left: 0.5rem;
      width: fit-content; }
    article .card__text .card__cart__prod {
      position: absolute;
      color: white;
      bottom: 20px;
      right: 10px;
      border: solid white 2px; }
      article .card__text .card__cart__prod:hover {
        border: 2px solid #4701c0; }

.cart-prod {
  border: 2px solid black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; }
  .cart-prod .cart-contimg {
    justify-content: center;
    width: auto;
    height: 150px;
    margin: 5px; }
    .cart-prod .cart-contimg-img {
      height: 150px;
      padding: 0px;
      width: auto;
      border-radius: 10px; }

.categoriesfilter {
  display: flex;
  flex-direction: column;
  width: auto;
  color: white;
  background-color: #212529;
  padding: 10px;
  margin: 5px 0px 5px 5px; }
  .categoriesfilter-buttons {
    background: none;
    color: white;
    margin-top: 5px;
    border: 0px;
    text-decoration: underline; }

.botonescart .masymenos {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer * {
  padding: 10px 0px;
  background-color: #212529;
  font-family: 'Poppins', sans-serif; }

.roww {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.container {
  padding: 0; }

.footer {
  background-color: #212529;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer ul {
    list-style: none; }
  .footer-col {
    color: white;
    margin: 0px;
    padding: 0rem;
    background-color: none;
    display: inline-block;
    width: auto; }
    .footer-col ul {
      padding: 0px;
      margin: 0px; }
    .footer-col li {
      padding: 0rem;
      margin: 0;
      color: grey;
      transition: all 0.5s; }
    .footer-col li:hover {
      padding-left: 1px;
      color: white; }
    .footer-col a {
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: grey;
      transition: all 0.5s; }
    .footer-col a:hover {
      color: white; }
    .footer-col h4 {
      font-size: 18px;
      color: white;
      font-weight: 500;
      margin-bottom: 15px;
      position: relative;
      padding: 10px 0px 10px 0px;
      text-align: start;
      text-transform: capitalize;
      border-bottom: solid white 2px; }
    .footer-col .social-links {
      padding: 0px; }
      .footer-col .social-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      .footer-col .social-links a {
        height: 40px;
        width: 40px;
        text-align: center;
        display: inline-block;
        background-color: grey;
        margin-right: 10px;
        color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        transition: all 0.5s; }
      .footer-col .social-links a:hover {
        background-color: white; }
      .footer-col .social-links i {
        text-align: center;
        height: 40px;
        width: 40px;
        color: white;
        background: none;
        transition: all 0.5s; }
      .footer-col .social-links i:hover {
        color: black; }
