@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
*{
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
    letter-spacing: 1px;
}

.titles{
    border-bottom: 2px solid #212529;
    h1{
        margin: 1px 0px 1px 0px;
    }
}
