section {
    font-family: Orbitron, sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

article {
    background: none;
    position: relative;
    margin: 0.5rem;
    height: 370px;
    width: 250px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    overflow: hidden;
    transition: border 0.25s;

    &:hover {
        border-color: rgb(71, 1, 192);
    }

    .card__imgcontainer_prod {
        justify-content: center;
        width: auto;
        height: 200px;
        margin: 10px 3px 3px 3px;
        overflow: hidden;

        .card__img__prod {
            height: 200px;
            padding: 10px;
            width: auto;
            border-radius: 10px;
        }
    }

    .card__text {
        background-color: #000000;
        margin: 0px;
        height: 144px;

        .card__text__prod {
            background: none;
            text-align: center;
            justify-content: center;
            margin: 10px 5px 5px 5px;
            width: auto;
            height: 70px;
            color: white;
        }

        .card__price__prod {
            color: white;
            background: none;
            text-align: left;
            position: absolute;
            font-size: 1.2rem;
            bottom: 20px;
            left: 0.5rem;
            width: fit-content;
        }
        .card__cart__prod{
            position: absolute;
            color: white;
            bottom: 20px;
            right: 10px;
            border: solid white 2px;
            &:hover{
                border:2px solid rgb(71, 1, 192);
            }
        }
    }
    
    
}


.cart-prod{
    border:2px solid black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    .cart-contimg{
        justify-content: center;
        width: auto;
        height: 150px;
        margin: 5px;
        &-img{
            height: 150px;
            padding: 0px;
            width: auto;
            border-radius: 10px;
        }
    }
}

.categoriesfilter{
    display: flex;
    flex-direction: column;
    width: auto;
    color: white;
    background-color: #212529;
    padding: 10px;
    margin: 5px 0px 5px 5px;
    
    &-buttons{
        background: none;
        color: white;
        margin-top: 5px;
        border: 0px;
        text-decoration: underline;
    }
}

.botonescart{
    .masymenos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}